<meta charset="utf-8"/>

{% if context.player_name %}
    <title>Mediaz-Electronics Signage-Player - {{ context.player_name }}</title>
{% else %}
    <title>Mediaz-Electronics Signage-Player</title>
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
<link rel="manifest" href="/static/favicons/site.webmanifest">
<link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link href="{{ url_for('static', filename='css/screenly.css') }}" rel="stylesheet"/>

<link href="{{ url_for('static', filename='fontawesome/css/all.css') }}" rel="stylesheet"/>

<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>

{% if context.is_demo %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37846380-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-37846380-3');
    </script>
{% endif %}
